<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <a class="" href="#/user/{{model.userId}}/home"><span class="glyphicon glyphicon-chevron-left white-glyphicon">
              </span></a>
            <a class=" navbar-text-decor" href="#">
                RESTAURANT TABLE RESERVATION
            </a>
            <a href="#" class="">
              <span class="fa fa-user fa-lg white-glyphicon pull-right">
              </span>
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <!---->
    <div class="container-fluid padding-navbar">
        <div class="col-lg-12 row">
            <div class="div-website-list text-color-website-list">
                <ul class="list-group">
                    <li ng-repeat="restaurant_each in model.restaurants_list" class="list-group-item">
                        <a href="#/user/{{model.userId}}/city/{{restaurant_each.cid}}/restaurantDetails/{{restaurant_each.rid}}">{{restaurant_each.rname}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">-->
                <!--Previous-->
            <!--</button>-->
            <!--{{currentPage+1}}/{{hotels_length/pageSize}}-->
            <!--<button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">-->
                <!--Next-->
            <!--</button>-->
        <!--</div>-->
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
            </a>
        </div>
    </div>
</nav>